@keyframes rotateY {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  25% {
    transform: rotate3d(0, 1, 0, 90deg);
  }
  50% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
  75% {
    transform: rotate3d(0, 1, 0, 270deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}
@keyframes inverseRotateY {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  25% {
    transform: rotate3d(0, 1, 0, -90deg);
  }
  50% {
    transform: rotate3d(0, 1, 0, -180deg);
  }
  75% {
    transform: rotate3d(0, 1, 0, -270deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, -360deg);
  }
}
.spinimage {
  animation: 3s linear 1s infinite running both rotateY;
}
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.game-container {
  width: 100%;
  height: 100%;
}
.main-renderer-container {
  width: 100%;
  height: 100%;
}
.main-renderer {
  width: 100%;
  height: 100%;
}
.css-renderer {
  width: 100%;
  height: 100%;
  background-color: orange;
}
.test.square {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: black;
  border: 2px solid red;
  outline: 1px solid transparent;
}
.face {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: inherit;
  font-size: 60px;
  color: white;
}
.front {
  background: rgba(90, 90, 90, 0.7);
  transform: translateZ(50px);
}
.back {
  background: rgba(0, 210, 0, 0.7);
  transform: rotateY(180deg) translateZ(50px);
}
.right {
  background: rgba(210, 0, 0, 0.7);
  transform: rotateY(90deg) translateZ(50px);
}
.left {
  background: rgba(0, 0, 210, 0.7);
  transform: rotateY(-90deg) translateZ(50px);
}
.top {
  background: rgba(210, 210, 0, 0.7);
  transform: rotateX(90deg) translateZ(50px);
}
.bottom {
  background: rgba(210, 0, 210, 0.7);
  transform: rotateX(-90deg) translateZ(50px);
}
#renderercss {
  width: 100%;
  height: 100%;
}
.render-3d {
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  margin: auto;
}
.perspectivefar {
  perspective: 1500px;
  perspective-origin: 50% 50%;
  width: 100%;
  height: 100vh;
}
.hidden {
  visibility: hidden;
}
.center {
  margin: auto;
}
.ground {
  transform-style: preserve-3d;
}
.ground::after {
  display: inline-block;
  position: absolute;
  width: 4000px;
  height: 4000px;
  background-image: radial-gradient(circle farthest-corner at center, red 1%, transparent 1.1%, transparent 100%), repeating-linear-gradient(to bottom, #ccc 0, #ccc calc(5 * 1px), transparent calc(5 * 1px), transparent 200px), repeating-linear-gradient(to right, #ccc 0, #ccc calc(5 * 1px), transparent calc(5 * 1px), transparent 200px);
  background-size: 100px 100px;
  /* Size of the grid cells */
  content: " ";
  border: 10px solid red;
  outline: 1px solid  transparent;
}
.camera {
  transform-style: preserve-3d;
}
.camera.translate-in {
  transform: translate3d(0px, calc(50vh - 150px), 1500px);
}
.identify {
  z-index: 100;
  position: relative;
  width: 200%;
  height: 200%;
  right: calc((200% - 100%) / 2 + 1px);
  bottom: calc((200% - 100%) / 2 + 1px);
}
.identifierbox {
  position: absolute;
  aspect-ratio: 1;
  border: 2px solid black;
}
.ident-boxes {
  background-color: #000;
  color: #FFF;
  border: 2px solid #555;
  font-family: 'Consolas', 'Courier New', Courier, monospace;
  padding: 2px;
}
.properties {
  min-width: 200px;
  min-height: 100px;
  position: absolute;
  right: -100%;
  background-color: #000;
  color: #FFF;
  border: 2px solid #555;
  font-family: 'Consolas', 'Courier New', Courier, monospace;
  padding: 2px;
}
.properties .property {
  font-size: 0.75em;
}
.properties .property .name::after {
  content: ": ";
}
.properties .property .value:has(.alternates) {
  text-decoration: 1px dotted white underline;
}
.properties .property .value:has(.alternates) .alternates {
  display: none;
}
.properties .property .value:has(.alternates):hover .alternates {
  display: block;
  position: absolute;
}
.properties-html {
  display: none;
}
.object {
  position: absolute;
  top: 0px;
  left: 0px;
}
